<div class="header">
  <div class="banner">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <nav class="nav">
    <div class="logo">
      <a class="block link" href="https://w1.anuefund.com"><div class="img"></div></a>
      <h1 class="block text-title">愛地球投資專區</h1>
    </div>
    <div>
      <div class="btn-menu"><i-bs name="justify" width="28" height="23" (click)="onMenuToggleClick()"> </i-bs></div>
      <div class="menu" [class.is-active]="isMenuActive">
        <ul>
          <li class="active">
            <a id="mainpagetab" href="" class="active">
              <i-bs name="house-door-fill" width="21" height="18"> </i-bs> 愛地球首頁</a
            >
          </li>
          <li><a id="performancetab" href="#performance">ESG 評分榜</a></li>
          <li><a id="fundtab" href="#fund">愛地球精選</a></li>
          <li><a id="combinationtab" href="#combination">永續投資王</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
