@import '../../styles/colors';
.lipper {
  display: flex;
  justify-content: center;
  width: 100vw;
  .section {
    max-width: 1240px;
    padding: 40px 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    .menu {
      border-bottom: 1px solid $grey;
      ul {
        display: flex;
        padding: 0;
        margin-bottom: 0;
        li {
          display: block;

          &::after {
            content: '';
            display: block;
            height: 3px;
            max-height: 3px;
            width: 100%;
            transition: background 0.1s ease-in-out;
          }
          &.active {
            &::after {
              background: $red;
            }
          }
          &:hover {
            &::after {
              background: $red;
            }
          }
          .nav-link {
            transition: 0.1s;
            display: block;
            color: $black;
            text-decoration: none;
            font-weight: bolder;
          }
        }
      }
    }
    .tab-content {
      margin-top: 0 !important;
    }
  }
  p {
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 10px 0;
  }
  @media (max-width: 960px) {
    .section {
      padding: 30px 2%;
    }
  }
  @media (max-width: 640px) {
    .section {
      .menu {
        .nav-link {
          font-size: 14px;
          padding: 0.5em 0.6em;
        }
      }
    }
  }
}
